<p>{{ message }}</p>
<div>
	<p style="margin: 2em 0 !important">
		{% for action in actions %}
		{% if action.action_name == 'Submit' %}
<a class="btn btn-primary" style="margin-right: 1em" href="{{ action.action_link }}">{{_(action.action_name)}}</a>
{% elif action.action_name == 'Approve' %}
<a class="btn btn-success" style="margin-right: 1em; color:#fff;background-color:#28a745;border-color:#28a745" href="{{ action.action_link }}">{{_(action.action_name)}}</a>
{% elif action.action_name == 'Reject' %}
<a class="btn btn-danger" style="margin-right: 1em; color:#fff;background-color:#d9534f;border-color:#d43f3a" href="{{ action.action_link }}">{{_(action.action_name)}}</a>
{% endif %}
		{% endfor %}
	</p>
</div>
